@media screen and (max-width: 1024px) {
  .container{
    width: 90%;
  }

  .galleryImages{
    max-width: 100% !important;
  }
  .rowToCol{
    flex-direction: column !important;
  }
  .sideA{
    width: 100% !important;

  }
  .sideB{
    width: 100% !important;

  }
  }
  @media screen and (max-width: 1584px) {
    .headerBig{
      font-size: 10rem !important;
      line-height: 80px !important;
        }

  }
  @media screen and (max-width: 820px) {
    .container{
      width: 95%;
    }
    .displayNone{
      display: none;
    }
    .grid{
      gap: 20px !important;
      grid-template-columns: 1fr !important;
    }
    .w100phone{
      width: 95% !important;
    }
    .locationHeader{
      padding: 20px;
font-size: 4rem !important;
    }
    .paddingTopBottom{
      padding-top: 10px;
      padding-bottom: 10px;

    }
    .headerBig{
      font-size: 5rem !important;
     
    }
    .homeHieght{
      height: auto !important;
    }
    .imageDiv_about{
      width: 100% !important;
    }
    .w50{
      width: 100% !important;
    }
    .aboutHeaderPage{
      font-size: 5rem !important;
    }
    .imageFront{
      max-width: 80% !important;
    }
    .bigHeaderLogo{
      margin-left: -20px !important;
      margin-bottom: 0 !important;
    }
    .headersOpening{
      height: auto !important;
      align-items: flex-start !important;
      margin-top: 20px !important;
    }
    .displayOnPhone{
      display: block !important;
    }
    .marginLeft50Nav{
      margin-left: 0 !important;
    }
    .caruselTest{
      min-height: 300px !important;
    }
    .h84{
      height: auto !important;
      margin-bottom: 80px !important;
    }
    .infoText{
font-size: 1rem !important;
    }
    .iframeMap{
      width: 100% !important;
    }
    }