.navLinks{
    font-size: 1.9rem;
    margin-right: 30px;
    text-decoration: none;
    color: #262626;
    text-transform: uppercase;
    font-weight: 500;

}
.navBarRoute{
  
}
.navbar{
   
     height: 16vh;
    
}