.navLinks{
    font-size: 1.9rem;
    text-decoration: none;
    color: #262626;
    text-transform: uppercase;
    font-weight: 500;
    transition: all .3s ease;
padding: 3px;
}
.navLinks:hover{
    transform: scale(1.2);
    transition: all .3s ease;

}
.allLinks{
    justify-content: space-between;
  
}
.navBarRoute{

}
.navbar{
    /* padding-top: 12px; */

     height: 16vh;
    
}
.nav_position{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999999;
  
}