.flex{
    display: flex;
}
.col{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.rowToCol{
    flex-direction: row;
}
.bgcolorf7{
    background-color: #f7f7f7;
}
.colorfde{
color: #fde4d4;
}
.bgcolorfde{
    background-color: #fde4d4;
    }
    .bgcolor1d{
        background-color: #1d1d1d;
    }
.bgcolor302{
    background-color: #302a29;
}

.pinkColor{
    color: #f8cbc5;
}

.container{
    width: 80%;
    
}
.rowReverse{
   flex-direction: row-reverse; 

}
.aCenter{
    align-items: center;
}
.marginAuto{
    margin: 0 auto;
}
.center{
    align-items: center;
    justify-content: center;
}
.bet{
    justify-content: space-between;
}
.aEnd{
    align-items: flex-end;
}
.img{
    height: 100%;
    width: 100%;
}
.h100{
    height: 100%;
}
.w100{
    width: 100%;
}