.flex{
    display: flex;
}
.col{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.rowToCol{
    flex-direction: row;
}
.acenter{
    align-items: center;
}
.h100vh{
    height: 100vh;
    
}
.aend{
    align-items: flex-end;
}
.bgcolorf7{
    background-color: #ffffff;
}
.colorfde{
color: #fde4d4;
}
.bgcolorfde{
    /* background-color: #fde4d4; */
    background-color: white;
    }
    .bgcolor1d{
        background-color: #1d1d1d;
    }
.bgcolor302{
    background-color: #302a29;
}

.pinkColor{
    color: #f8cbc5;
}

.container{
    width: 90%;

}
.bc{
    background-color: aqua;
}
.w50{
    width: 50%;
}
.container_home{
    width: 75%;
}
.rowReverse{
   flex-direction: row-reverse; 

}
.aCenter{
    align-items: center;
}
.marginAuto{
    margin: 0 auto;
}
.marginTop_40{
    margin-top: 40PX;
}
.center{
    align-items: center;
    justify-content: center;
}
.margin_Top50{
    margin-top: 50px;
}
.bet{
    justify-content: space-between;
}
.evenly{
    justify-content: space-evenly;
}
.img{
    height: 100%;
    width: 100%;
}

.acenter{
    align-items: center;
}
.aEnd{
    align-items: flex-end;
}
.img{
    height: 100%;
    width: 100%;
}
.h100{
    height: 100%;
}
/* .spaceSec{
    height: 100px;
} */
.w100{
    width: 100%;
}
.hcolor{
    color: rgb(63, 63, 63);
}
.position_relative{
    position: relative;
}
.video{
    height: 100%;
    width: 100%;
}
.bwImage{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.cr{
    color: red;
}
.marginBottomPage{
    margin-bottom: 50px;
}
.cg{
    color: rgb(63, 63, 63);
}
.marginLeft50{
    margin-left: 50px;
}
.headersOpening{
    height: 100%;
    align-items: flex-end;
}
.linkAll{
    color: white;
    font-size: 1.6rem ;
    text-decoration: none;
   
}