.flex{
    display: flex;
}
.col{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.rowToCol{
    flex-direction: row;
}


.container{
    width: 80%;
    
}
.rowReverse{
   flex-direction: row-reverse; 

}
.aCenter{
    align-items: center;
}
.marginAuto{
    margin: 0 auto;
}
.center{
    justify-content: center;
}
.bet{
    justify-content: space-between;
}
.aEnd{
    align-items: flex-end;
}
.img{
    height: 100%;
    width: 100%;
}
.h100{
    height: 100%;
}
.w100{
    width: 100%;
}